body{
 /* display: flex;
  align-items: center;
  justify-self: center; 
  height: 100vh;*/
  background-image: url("https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg");
background-size: cover;

}


.a{
   margin-left: 10px;
  width: 100px;
  height: 300px;
  background-color: rgba(255, 228, 196, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;

}
.b{

overflow: hidden;
height: 50px;
}

.b h1{
transition: 1s ease;
}

.a:hover .b>h1{
  margin-top: -200px;
}

.c{
  position: absolute;
  background-color: #fffdf5;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between

}

.a:hover .c{
  opacity: 1;
}
.f{
  padding: 15px;
   display: flex;
 flex-direction: column;
 gap: 2px;
}
.d{
  height: 25px;
overflow: hidden;

}

.d p{
  position: relative;
  bottom: -25px;
  transition: .5s ease;
}
.a:hover .d p{
  bottom: 15px;
}
.h{
  width: 0px;
  border: 1px solid black;
  transition: 1s ease;
}

.a:hover .h{
  width: 100%;
}
.g{
  padding: 20px;
  display: flex; flex-direction: column;
  gap: 20px;
}
.i{
  display: flex;
  justify-content: space-between;
}
.a{
   margin-left: 10px;
  width: 100px;
  height: 300px;
  background-color: rgba(255, 228, 196, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;

}
.b{

overflow: hidden;
height: 50px;
}

.b h1{
transition: 1s ease;
}

.a:hover .b>h1{
  margin-top: -200px;
}

.c{
  position: absolute;
  background-color: #fffdf5;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between

}

.a:hover .c{
  opacity: 1;
}
.f{
  padding: 15px;
   display: flex;
 flex-direction: column;
 gap: 2px;
}
.d{
  height: 25px;
overflow: hidden;

}

.d p{
  position: relative;
  bottom: -25px;
  transition: .5s ease;
}
.a:hover .d p{
  bottom: 15px;
}
.h{
  width: 0px;
  border: 1px solid black;
  transition: 1s ease;
}

.a:hover .h{
  width: 100%;
}
.g{
  padding: 20px;
  display: flex; flex-direction: column;
  gap: 20px;
}
.i{
  display: flex;
  justify-content: space-between;
}