body{
  /*display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh; */
  background-image: url("https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg");
background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
body{
    
    font-family: "Poppins", sans-serif;
    background-color: rgb(235, 216, 216);
    background-image: url(https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg);
    background-image: url(https://yucca.co.za/wp-content/uploads/2025/05/1c9fd89a470793175cfc7f14a7a6e6dc.webp);
    
    background-size: cover;
    background-repeat: no-repeat ;


}
*/
header {
    width:100%;
    background-color: rgb(195, 187, 187);
    display: flex;
    justify-content: space-between;
    padding: 3px 3px;
    position:sticky;
    top:0px;
}
header>div>ul>{
    display: flex;
    gap: 25px;
}
header>div>ul>li{
    list-style: none;
    
}

header>div>ul>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 20px;


}
#header-left>ul>li>a:hover{
    background-color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .5s ease;

}

#header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    gap: 20px;

}
#header-left>h1 {
    color : rgb(0, 0, 0);
}
#header-left>ul{
    display: flex;
    gap:20px;
}
#header-left>ul>li{
    list-style: none;

}


#header-right {
   display: flex;
   align-items: center;
    justify-content: center;
    margin-left: 80px;
    gap: 20px;
}
#header-right>ul{
    display: flex;
    gap:20px;
}

#header-right>button{
    padding:8px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
}
#header-right>button:hover{
    background-color:rgba(255, 255, 255, 0.83);
    transition: .3s ease ;
}
#header-right>ul>li>a:hover{
    background-color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .5s ease;
}
.a{
  width: 320px;
  height: 300px;
  background-color: rgba(255, 228, 196, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;

}
.b{

overflow: hidden;
height: 50px;
}

.b h1{
transition: 1s ease;
}

.a:hover .b>h1{
  margin-top: -200px;
}

.c{
  position: absolute;
  background-color: #fffdf5;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between

}

.a:hover .c{
  opacity: 1;
}
.f{
  padding: 15px;
   display: flex;
 flex-direction: column;
 gap: 2px;
}
.d{
  height: 25px;
overflow: hidden;

}

.d p{
  position: relative;
  bottom: -25px;
  transition: .5s ease;
}
.a:hover .d p{
  bottom: 15px;
}
.h{
  width: 0px;
  border: 1px solid black;
  transition: 1s ease;
}

.a:hover .h{
  width: 100%;
}
.g{
  padding: 20px;
  display: flex; flex-direction: column;
  gap: 20px;
}
.i{
  display: flex;
  justify-content: space-between;
}