
*{
  margin: 0px;
  padding: 0px;
}

header{
  display:flex;
  background-color: #000000;
  padding: 10px 0px;
align-items: center;
justify-content: space-evenly;
position: fixed;
top: 0px;
width: 100vw;
}
.logo{
  margin-right: 400px;
}
.logo>img{
  width: 100px;
}
#right-header>ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
#right-header>ul>li{
list-style: none;
}
#right-header>ul>li>a{
text-decoration: none;
color: #ffffff;
font-weight: 700;
font-size: 20px;
margin-right: 20px;
}

#right-header>ul>li>a:hover{
  color: blue;
  text-decoration: underline;
  transition: 0.3s ease;
}

nav{
  position: fixed;
 left: 0px;
 top: 53px;
  width: 100px;
  height: 92vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
align-items: center;

}

nav>div>ul>li{
  list-style: none;
  margin-bottom: 20px;
}
nav>div>ul>li>a{
  text-decoration: none;
  margin-top: 20px;
  color: #ffffff;

}
#lower{
margin-bottom: 20px;
display: flex;

}
#hero-section{
background-color: #333;
width:90%;
height: 100vh;
margin-left: 10%;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;

}

.left-hero{
width: 45%;
height: 70%;
background-color: #000000;
}
.right-hero{
width: 45%;
height: 70%;
background-color: #000000;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 10px;
}
.hero-upper{
  width: 90%;
  height: 50%;
  background-image: linear-gradient(#333,white);
}
.hero-lower-left{
  width: 45%;
  height: 45%;
background-image: linear-gradient(#333,white);

}
.hero-lower-right{
    width: 45%;
  height: 45%;
  background-image: linear-gradient(#333,white);
}
