@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    z-index: 10;
    gap: 560px;
}
header ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
header ul>li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: white;
}
.left-header{
    display: flex;
    gap: 30px;
}
.right-header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.left-header>img{
    width: 100px;
}
.main-hero{
    width: 100%;
    height: 100vh;
    position: relative;
}

.upper-hero{
    position: absolute;
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 80px;
}
.upper-hero>h1{
    color: red;
    font-size: 60px;
}
.upper-hero>p{
    color: white;
    line-height: 30px;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    border-style: none;
    font-weight: 500;
    margin-right: 20px;
}
.info-btn{
    background-color: rgba(255, 255, 255, 0.182);
    color: white;
}
.main-hero>video{
    width: 100%;
    top: 0px;
}