body{
  /*display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh;*/
  background-image: url("https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg");
background-size: cover;
}

header {
  margin-top: 0px;
   height:60px;
    width:100%;
 /* background-color: rgb(225, 213, 213);*/
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    position:sticky;
    top:0px;

}
header>div>ul>{
    display: flex;
    gap: 10px;
}
header>div>ul>li{
    list-style: none;
}

header>div>ul>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 20px;


}
#header-left>ul>li>a:hover{
    background-color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .5s ease;

}

#header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    gap: 20px;

}
#header-left>h1 {
    color : rgb(0, 0, 0);
    

}

.logo{
  display: flex;
}



#header-left>ul{
    display: flex;
    gap:20px;
}
#header-left>ul>li{
    list-style: none;

}


#header-right {
   display: flex;
   align-items: center;
    justify-content: center;
    margin-left: 80px;
    gap: 20px;
}
#header-right>ul{
    display: flex;
    gap:20px;
}

#header-right>button{
    padding:8px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
}
#header-right>button:hover{
    background-color:rgba(255, 255, 255, 0.83);
    transition: .3s ease ;
}
#header-right>ul>li>a:hover{
    background-color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .5s ease;
}

.row{
   display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh;
  gap:10px;
}

.a{
  width: 320px;
  height: 300px;
  background-color: rgba(255, 228, 196, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;

}
.b{

overflow: hidden;
height: 50px;
}

.b h1{
transition: 1s ease;
}

.a:hover .b>h1{
  margin-top: -200px;
}

.c{
  position: absolute;
  background-color: #fffdf5;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between

}

.a:hover .c{
  opacity: 1;
}
.f{
  padding: 15px;
   display: flex;
 flex-direction: column;
 gap: 2px;
}
.d{
  height: 25px;
overflow: hidden;

}

.d p{
  position: relative;
  bottom: -25px;
  transition: .5s ease;
}
.a:hover .d p{
  bottom: 15px;
}
.h{
  width: 0px;
  border: 1px solid black;
  transition: 1s ease;
}

.a:hover .h{
  width: 100%;
}
.g{
  padding: 20px;
  display: flex; flex-direction: column;
  gap: 20px;
}
.i{
  display: flex;
  justify-content: space-between;
}